<div class="page">
  <h1>
    Only works with
    <code><b>Standalone</b> Component | Directive | Pipe</code>
  </h1>

  <mat-card>
    <mat-card-title>
      <h2>Directly Usage</h2>
    </mat-card-title>

    <mat-card-content>
      @defer {
      <app-demo />
      } @placeholder (minimum 1s){
      <p>Placeholder</p>
      } @loading{
      <mat-progress-spinner mode="indeterminate" />
      } @error {
      <p>Error Block</p>
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <h2><code>export default class</code> Sample</h2>
    </mat-card-title>

    <mat-card-content>
      <button (click)="showDefaultComponent = !showDefaultComponent">Show Default Component</button>

      @defer(when showDefaultComponent){
      <app-default />
      }
    </mat-card-content>
  </mat-card>

  <hr />
  <h1>Triggers</h1>

  <mat-card>
    <mat-card-title>
      <h2>On Hover</h2>
    </mat-card-title>

    <mat-card-content style="max-height: 300px; overflow: auto; display: block">
      <button #hoverMe>Hover Me</button>
      @defer(on hover(hoverMe)){
      <p>This text will be shown when hover the button</p>
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <h2>On Interaction</h2>
    </mat-card-title>

    <mat-card-content style="max-height: 300px; overflow: auto; display: block">
      <button #interaction>Click and see suprize</button>
      @defer(on interaction(interaction); prefetch on hover(hoverMe)){
      <app-user />
      }
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h2>Viewport</h2>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @for(item of items; track item) { 
        @defer(on viewport) {
        <div>
          <img
            src="../../assets/logo/rastmobile-logo.png"
            alt="Rastmobile Logo"
            width="150"
            height="150"
            class="image"
          />
        </div>
        }
        @placeholder (minimum 1500ms) {
          <mat-progress-spinner mode="indeterminate" />
        }
      }
    </ng-template>
  </mat-expansion-panel>
</div>
