<div class="page">
  <h1>
    Only works with
    <code><b>Standalone</b> Component | Directive | Pipe</code>
  </h1>

  <mat-card>
    <mat-card-title>
      <h2>Directly Usage</h2>
    </mat-card-title>

    <mat-card-content>
      @defer {
      <button mat-flat-button color="warn" (click)="showDetail = true">
        Displayed button directly in defer block
      </button>
      } @placeholder {
      <p>Placeholder</p>
      } @loading (after 2s; minimum 2000ms) {
      <mat-progress-spinner mode="indeterminate" />
      } @error {
      <p>Error Block</p>
      }
    </mat-card-content>
  </mat-card>

  @if(false){
  <mat-card>
    <mat-card-title>
      <h2>Cascading Load</h2>
    </mat-card-title>

    <mat-card-content>
      @defer {
      <app-user />
      } @placeholder {
      <p>My error message</p>
      }
    </mat-card-content>
  </mat-card>
  }
  <hr />
  <h1>Triggers</h1>

  <mat-card>
    <mat-card-title>
      <h2>On Hover</h2>
    </mat-card-title>

    <mat-card-content style="max-height: 300px; overflow: auto; display: block">
      <button #hoverMe>Hover Me</button>
      @defer(on hover(hoverMe)){
      <p>This text will be shown when hover the button</p>
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <h2>On Interaction</h2>
    </mat-card-title>

    <mat-card-content style="max-height: 300px; overflow: auto; display: block">
      <button #interaction>Click and see suprize</button>
      @defer(on interaction(interaction); prefetch on hover(hoverMe)){
      <app-user />
      }
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h2>Viewport</h2>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @for(item of items; track item)
      { 
        @defer(on viewport) {
          <div style="height: 300px">
            <img
              src="assets/logo/ngturkey logo.png"
              alt="NG Turkey Logo"
              width="250"
              height="250"
            />
          </div>
        } 
        @placeholder (minimum 1500ms) {
          <mat-progress-spinner mode="indeterminate" />
        }
      }
    </ng-template>
  </mat-expansion-panel>
</div>
