<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="action" routerLink="/">v17</button>
    <div class="actions">
      <button mat-button class="action" routerLink="/new-brand" routerLinkActive="active">New Brand</button>
      <button mat-button class="action" routerLink="/control-flow" routerLinkActive="active">Control Flow</button>
      <button mat-button class="action" routerLink="/deferred-loading" routerLinkActive="active">Deferred Loading</button>
      <button mat-button class="action" routerLink="/injector-tree" routerLinkActive="active">Injector Tree (DI Debugging)</button>
      <button mat-button class="action" routerLink="/view-transition" routerLinkActive="active">View Transition</button>
      <button mat-button class="action" routerLink="/new-lifecycle-hooks" routerLinkActive="active">New Lifecycle Hooks</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
