/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page {
  padding: 1rem 2rem;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.block {
  display: block;
}

.mat-mdc-card {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.list-style-none {
  list-style: none;
}

li {
  margin-bottom: 0.5rem;
}
